{% extends 'base.html' %}
{% block title %}درباره من {% endblock title %}
{% block content %}
<div class="card" dir="rtl">
    <div class="card-body text-right">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid doloribus id nam maiores, animi nihil ad quas sed tempora quasi quidem, assumenda labore incidunt nulla quaerat, dolore temporibus magnam amet.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum illum dignissimos illo delectus, veniam dolorum beatae ut quidem, minus architecto quam esse, qui perspiciatis. Architecto saepe ullam animi autem nam?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam fugiat repellendus nulla vero voluptate velit molestiae cupiditate deserunt nesciunt dignissimos, libero minus amet eos laboriosam nihil sint aperiam assumenda. Quo.</p>
    </div>
</div>
{% endblock content %}